nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: rgb(46, 25, 49);
    color: rgb(212, 233, 252);
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(212, 233, 252);
}

@media (max-width: 800px){
    nav h1 {
        font-size: 1.25rem;
        align-self: center;
    }
}