footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(46, 25, 49);
    color: rgb(212, 233, 252);
    font-size: 0.75rem;
}

footer ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

footer a {
    padding-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(212, 233, 252);
    border-right: 2px solid rgb(212, 233, 252);
}

footer a:last-child {
    border: none;
}

