@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Thin.woff) format(woff);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}