@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Thin.woff) format(woff);
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  background-color: rgb(90, 48, 95);
  color: rgb(212, 233, 252);
}

.center {
  display: flex;
  align-items: center;
}